<style>
    body {
        font-family: 'Helvetica', 'Arial', sans-serif;
        margin: 0 25mm; /* Margen horizontal igual al del cuerpo */
        width: 100%;
    }
    .footer-content {
        border-top: 0.5mm solid #000;
        padding-top: 2mm;
        font-size: 8pt;
        text-align: center;
        line-height: 1.3;
        width: 100%;
    }
    .page-number {
        font-size: 8pt;
        width: 100%;
        text-align: right;
    }
</style>
<div class="footer-content">
    {{config.SEDE_NOMBRE}}<br>
    {{config.SEDE_DIRECCION}}- Teléfono: {{config.SEDE_TELEFONO}} – Cel: {{config.SEDE_CELULAR}} – email: {{config.SEDE_EMAIL}}
    <div class="page-number">
        Página <span class="pageNumber"></span> de <span class="totalPages"></span>
    </div>
</div>
